* {
  padding: 0px;
  margin: 0px;
}

.welcomeScreen{
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  min-height: 625px;
  background-image: url('../images/Welcome.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.enterButton{
  position: relative;
  top: 75%;
  left: 42%;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  transition: transform .5s ease;
}

.enterButton:hover{
  box-shadow: 0px 0px 15px #4bd1fd;
  transform: scale(1.1);
}

.enterButton:active{
  transform: scale(1.0);
}

.optionScreen{
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
  min-height: 625px;
  background-image: url('../images/Background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.buttons{
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  left: 39%;
  top: 37%;
}

.options{
  display: block;
  width: 300px;
  height: 50px;
  margin-bottom: 14px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.volButton{
  width: 66.75px;
  height: 33.75px;
  position: absolute;
  left: 48%;
  top: 90%;
  background-image: url('../images/volON.png');
  background-size: cover;
  border-radius: 13px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px black;
  transition: transform .5s ease;
  cursor: pointer;
}

.volButton:hover{
  box-shadow: 0px 0px 15px #4bd1fd;
  transform: scale(1.1);
}

.volButton:active{
  transform: scale(.9);
  border: none;
}

.characterSelect{
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  min-height: 810px;
  background-image: url('../images/Background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.characters{
  margin-left: 12rem;
  margin-top: 12rem;
  display: block;
  position: relative;
}

.row {
  margin-bottom: 1rem;
}

.heroButton{
  width: 17%;
  background-color:transparent;
  border:none;
  outline: none;
  height: auto;
}

.hero{
  width: 95%;
  height: auto;
}

.playAs{
  position: absolute;
  bottom: 7.5%;
  left: 39%;
  color: white;
  font-size: 25px;
}

.backButton1{
  display: block;
  width: 150px;
  height: 75px;
  margin-bottom: 14px;
  position: relative;
  top: 72px;
  left: 72px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.deckBuilderScreen{
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  min-height: 810px;
  background-image: url('../images/Background4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.backButton2 {
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  bottom: 8px;
  right: 125px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.deckBuilderMain{
  display: flex;
  width: 100%;
  height: 100%;
}

.cardContainer{
  flex: 45%;
  height: 70%;
  margin-top: 10rem;
  margin-left: 20rem;
  margin-right: 8rem;
}

.deckContainer{
  flex: 6%;
  height: 82%;
  margin-top: 6rem;
  margin-right: 11rem;
}

.popularDeckScreen{
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  min-height: 810px;
  background-image: url('../images/Background6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.backButton3,.backButton4 {
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  bottom: 15px;
  right: 125px;
  background-image: url('../images/backButton.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.allCardsScreen{
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  min-height: 810px;
  background-image: url('../images/Background5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: none;
  position: absolute;
}

.allCardsContainer{
  width: 70%;
  height: 85%;
  margin-top: 3rem;
  margin-left: 16rem;
  overflow-y: scroll;
}

.newCardContainer{
  display: inline;
}

.card{
  height: 32%;
  width:auto;
  position: relative;
  filter: drop-shadow(0px 0px 5px black);
  transition: transform .5s ease-in-out;
}

.card:active{
  transform: scale(1.5);
  z-index: 2;
}

.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 1;
  text-align: center;
}

.loading-image {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20%;
  height: auto;
  z-index: 100;
}

.loading-text{
  position: absolute;
  top: 51%;
  left: 44.5%;
  width: 10%;
  height: auto;
  z-index: 100;
}

.hidden{
 display: none;
}
